# Visual Studio
.vs/

# Build folders
bin/
obj/

# User specific
*.user
*.suo

# Logs
Logs/

# SQL Database Project cache
*.jfm

# SQL Database Project
*.jfm
Import Schema Logs/
*.log
*.dbmdl
*.dbproj.schemaview